/* ========================================================================== */
/* Animated Quote */
/* ========================================================================== */
$bg: #fff;

.animated-border-quote {
  display:inline-block;
  margin: 0em;
  max-width:100%;
  overflow:hidden;
  blockquote {
    background-color: $bg;
    border: solid 2px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
    &:before {
      animation:clockwise 30s infinite linear;
      background-color: $bg;
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;
    }
    &:after {
      animation:counter 30s infinite linear;
      background-color: $bg;
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;
    }
    cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }
    > * {
      position: relative;
      z-index: 1;
    }
    ul {
      margin: 1em;
      padding: 0;
    }
    ol {
      margin: 1em;
      padding: 0;
    }
    li {
      text-align:left;
      margin-top: 1em;
    }
  }
}

@keyframes clockwise {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes counter {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(-360deg);
  }
}