<!DOCTYPE html>
<html>
  <head>
    <title>Neutron Star Cooling</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="socialst.css">
  </head>
  <body>
    <textarea id="source">


layout: true
<div class="my-header">
  <p class="align_left"><img src="images/yonsei_logo.png" style="height: 30px;"/></p>
  <p class="align_right"><b>Numerical implementation of Neutron star cooling</b></p>
</div>
<div class="my-footer">
  <p class="align_right"><b>2018.01.10 Yonsei HEP-COSMO</b></p>
  <p class="align_left"><b>Tae Geun Kim</b></p>
</div>

---

class: center, middle

# Numerical implementation of <br/>Neutron star cooling

<h3 style="color: darkblue">Tae Geun Kim</h3>

---

## Table of Contents

--

* What can be done by perceptron?

--

* What can't be done by perceptron?

--

* Linear Regression

--

* Multi Layer Perceptron

---

    </textarea>
    <!-- <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>
    <script src="./remark-latest.min.js"></script>
    <!-- <script src="./MathJax.js" type="text/javascript"></script> -->
    <script>
      var slideshow = remark.create();

      MathJax.Hub.Config({
          tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
      });

      MathJax.Hub.Configured();
    </script>
  </body>
</html>
