@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body { 
    font-family: 'Kalam'; 
}

h1, h2, h3, h4, h5 {
  font-family: 'Caveat';
  font-weight: normal;
  text-shadow: 1px 2px 2px grey;
}

.remark-code, .remark-inline-code { 
    font-family: 'Ubuntu Mono'; 
}

#tab01 {
  border-collapse: collapse;
  width: 80%;
}

#tab01 td, #tab01 th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#tab01 tr:nth-child(even){
  background-color: #f2f2f2;
}

#tab01 tr:hover {
    background-color: #ddd;
}

#tab01 th {
  padding-top: 8px;
  padding-bottom:8px;
  text-align: center;
  background: #555555;
  color: #f2f2f2;
}

#tab01 td {
  text-align:center;
}



/* Header/Footer stuff */
div.my-header {
    background-color: rgb(0, 45, 247);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6b81ff), color-stop(0%,#3d6aff), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,rgb(0, 58, 247)), color-stop(100%,rgb(0, 25, 247)));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

div.my-header p {
    top: -7px;
    position: relative;
    font-family: 'EB Garamond';
    font-size: 10pt;
    color: white;
    margin-right:10px;
    margin-left: 10px;
}

div.my-header p.align_left img {
    position: relative;
    top: -4px;
}

div.my-footer {
    background-color: rgb(0, 58, 247);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer p {
    font-size: 10pt;
    font-family: 'EB Garamond';
    color: white;
    position: relative;
    bottom: 11px;
    margin-left: 10px;
    margin-right: 10px;
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}