<!DOCTYPE html>
<html>
  <head>
    <title>Window Header</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="socialst.css">
    <link rel="stylesheet" type="text/css" href="additional.css">
  </head>
  <body>
    <textarea id="source">


layout: true
<div class="my-header">
  <p class="align_left"><img src="images/yonsei_logo.png" style="height: 30px;"/></p>
  <p class="align_right"><b>Header</b></p>
</div>
<div class="my-footer">
  <p class="align_right"><b>2021.04.23 ML Study</b></p>
  <p class="align_left"><b>Tae Geun Kim</b></p>
</div>

---

class: center, middle

# Title

<h4 style="color:brown">Subtitle</h4>

<h3 style="color: darkblue">Tae Geun Kim</h3>

---

## Table of Contents

--

* What is the Linear regression?

--

* Estimate procedure

--

* Test procedure

---

class: center, middle

# What is the Linear regression?

---

class: split-70

### Is this plot linear regression?

.left-column[
<div id="boxshadow" style="width:90%">
  <img src="images/linear_reg_xkcd.png" alt="simple" style="width:100%"/>
  <figcaption style="text-align: center;"><b>Fig.1</b> Linear Regression...?</figcaption>
</div>
]

--

.right-column[
  **Trivially linear regression!**
]

---

class: split-30

### Is this plot linear regression?

.right-column[
<div id="boxshadow" style="width:100%">
  <img src="images/xkcd_lam_10_5_plot.png" alt="gaussian" style="width:100%"/>
  <figcaption style="text-align: center;"><b>Fig.2</b> Non-Linear Regression...?</figcaption>
</div>
]

--

.left-column[
  It seems not linear...
]

--

.left-column[
  But it is still linear regression!
]

---

class: center, middle

# Estimate Procedure

---

### Estimate Procedure

There are three ways to estimate parameter `\(\beta\)` :

--

1. Ordinary Least Square (OLS)

--
$$\hat{\beta} = \underset{\beta}{\text{argmin}} \,RSS(\beta)$$

--

2. Maximum Likelihood Estimation (MLE)

--
$$\hat{\beta} = \underset{\beta}{\text{argmax}} \,P(Y|X,\beta)$$

--

3. Bayesian Inference

---

.center[
<div class="animated-border-quote">
  <blockquote>
    Hi
  </blockquote>
</div>
]



    </textarea>
    <!-- <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script> -->
    <script src="./remark-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>
    <!-- <script src="./MathJax.js" type="text/javascript"></script> -->
    <script>
      var slideshow = remark.create({
          ratio: '4:3',

          highlightLanguage: 'rust',
          highlightStyle: 'monokai',
          highlightLines: 'true',
          highlightSpans: 'true'
      });

      // Setup MathJax
      MathJax.Hub.Config({
          tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
      });
      MathJax.Hub.Queue(function() {
          $(MathJax.Hub.getAllJax()).map(function(index, elem) {
              return(elem.SourceElement());
          }).parent().addClass('has-jax');
      });

      MathJax.Hub.Configured();
    </script>
  </body>
</html>
