/* ============================================================================= */
/*                                   MELON 4                                     */
/*                      by https://github.com/raphwriter/                        */ 
/*          A Theme For Trilium Notes (https://github.com/zadam/trilium)         */
/* ============================================================================= */



/* ----------------------------------------------------------------------------- */
/* FONT DECLARATIONS
/* ----------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;0,700;1,500;1,700&display=swap');

html {
/* ----------------------------------------------------------------------------- */
/* COLOR VARIABLES
/* ----------------------------------------------------------------------------- */
    
    --color-blue-dark: #2e4b76;
    --color-blue-dark-alpha: #2e4b76d1;  
    --color-blue-dark-text: #e8f1f5;
    --color-blue-light: #3cad9e;
    --color-blue-light-alpha: #3cad9e70;
    --color-blue-light-alpha-darker: #3cad9ed1;
    --color-blue-light-alpha-lighter: #2aa19229;
    --color-blue-light-text: #f0f4f4;
    --color-blue-light-gradient-1: #4ea596;
    --color-blue-light-gradient-2: #2ba090;
    --color-yellow: #e9c46a; 
    --color-yellow-darker: #ecb400;
    --color-yellow-text: #63583c;
    --color-yellow-bg-alpha: #e9c46a1a; 
    --color-sidebar-yellow-dark: #e1dbce;
    --color-orange-light: #f4a261;
    --color-orange-light-text: #c96a2e;
    --color-orange-dark: #e76f51;
    --color-orange-dark-text: #f2dcd6; 
    --color-gray: #d6d6d6;
    --color-gray-text: #333;
    --color-gray-text-code: #555;
    --color-gray-light: #f5f5f5;
    --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
    --color-gray-light-text: #999;
    --color-gray-medium: #868E8D;
    --color-gray-light-buttons: #e9e9e9;
    --color-gray-light-buttons-text: #434343;
    --color-gray-dark: #666;
    --color-gray-dark-text: #666;
    --color-paper: #ecebe3;
    --color-paper-text: #555;
    --color-paper-light: #fcfcfa;
    --color-paper-light-cool: #fcfcfd;
    --color-shadow: rgba(181, 181, 181, 0.6);
    --color-shadow-light: rgba(181, 181, 181, 0.3);
    --gradient-blue-light: linear-gradient(138deg, var(--color-blue-light-gradient-1) 0%, var(--color-blue-light-gradient-1) 35%, var(--color-blue-light-gradient-2) 100%);
    --gradient-paper-light: linear-gradient(170deg, var(--color-paper-light-cool) 0%, var(--color-paper-light-cool) 45%, var(--color-paper-light) 100%);
    --launcher-pane-background-color: var(--gradient-blue-light);
/* ----------------------------------------------------------------------------- */
/* BORDER & SHADOW VARIABLES
/* ----------------------------------------------------------------------------- */
    
    --border-radius-small: 2px;
    --border-radius-tabs: 2px;
    --border-radius-large: 10px;
    --border-standard: 1px solid var(--color-gray);
    --border-accent: 2px solid var(--color-orange-dark);
    --border-accent-alt: 2px solid var(--color-blue-light);
    --border-accent-muted: 2px solid var(--color-gray-dark);
    --border-accent-light: 1px dotted var(--color-blue-dark-text);
    
    --shadow-light: 3px 4px 3px -3px var(--color-shadow-light);
    --shadow-standard: 3px 4px 3px -3px var(--color-shadow);
    --shadow-accented: 2px 2px 5px -2px var(--color-gray-dark);
    --shadow-90deg: 0 3px 5px -3px var(--color-shadow);
    --shadow-90deg-inset: 0 9px 4px -9px inset var(--color-shadow-light);
    --shadow-embedded-notes: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

/* ----------------------------------------------------------------------------- */
/* FONT VARIABLES 
/* ----------------------------------------------------------------------------- */
    
    --main-font-family-sans: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --main-font-family-serif: 'Roboto Slab', Georgia, Serif;
    --main-font-family-mono: 'JetBrains Mono', 'Source Code Pro', Courier, Monospace;
    --detail-text-font-family: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --detail-font-family: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-family-monospace: 'JetBrains Mono', 'Source Code Pro', Courier, Monospace;
    --font-headers: 'Roboto Slab', Georgia, Serif;
    --font-body: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-code: 'JetBrains Mono', 'Source Code Pro', Courier, Monospace;
}

#content {
  /* FF basic styling */
  scrollbar-color: var(--color-gray-medium) var(--color-gray-light);
  scrollbar-gutter: 5px;
}


/* ----------------------------------------------------------------------------- */
/* RESET 
/* ----------------------------------------------------------------------------- */

#content *, :not(.ribbon-body *), :not(h1, h2, h3, h4, h5, h6) {
/*  font-family: var(--font-body); */
  border-radius: var(--border-radius-small);
}

#content :is(h1, h2, h3, h4, h5, h6) {
  border-bottom: none;
  color: var(--color-gray-light-buttons-text);
  font-family: var(--main-font-family-serif);
  margin-top: 1.6rem;
  margin-bottom: .3rem;
  font-weight: bold;
  padding: 6px 0px;
  border-radius: 0;

  font-family: var(--font-headers) !important;
}

#content a {
  color: var(--color-blue-dark);
}

span.edited-note-line {
  padding: 0 .5rem 0 0;
  display: flex;
}
span.edited-note-line small {
  color: var(--color-gray-dark);
  margin-right: 2px;
  margin-left: 2px;
}

#content :is(p, blockquote, table) {
  font-family: var(--main-font-family-sans);
  font-size: 1rem;
  line-height: 140%;
}

#content :is(ul, ol) {
  font-family: var(--main-font-family-sans);
  line-height: 200%;
}

#content blockquote {
  font-style: normal;
  font-size: 1rem;
  line-height: 140%;
}

#content blockquote :is(ol, ul) {
  line-height: 200%;   
}

#content blockquote span.math-tex {
  font-size: 1.1rem;   
}


/* ----------------------------------------------------------------------------- */
/* CodeMirror 
/* ----------------------------------------------------------------------------- */

div#content div#rest-pane div#content div.note-detail div.note-detail-code div.note-detail-code-editor div.CodeMirror-code span {
  /*color: var(--color-gray-text-code);*/
    font-family: var(--font-code);
}
div.CodeMirror span.cm-atom {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-builtin {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-callee {
  color: var(--color-yellow-text);
}
div.CodeMirror span.cm-comment {
  color: var(--color-yellow-darker);
  background-color: var(--color-gray-light);
  padding: 5px 2px;
  margin: -5px -2px;
}
div.CodeMirror span.cm-def {
  color: var(--color-gray-text-code);  
}
div.CodeMirror span.cm-keyword {
  color: var(--color-gray-text-code);  
}
div.CodeMirror span.cm-matchhighlight {
  color: var(--color-gray-text-code);  
}
div.CodeMirror span.cm-number {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-operator {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-overlay {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-property {
    color: var(--color-paper-text);
    text-decoration: underline;
    text-decoration-color: var(--color-gray);
    text-decoration-style: dotted;
}
div.CodeMirror span.cm-variable {
  color: var(--color-blue-dark);
}
div.CodeMirror span.cm-variable-2 {
  color: var(--color-blue-light);
}
div.CodeMirror span.cm-variable-3 {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-qualifier {
  color: var(--color-gray-text-code);
}
div.CodeMirror span.cm-string {
  color: var(--color-orange-dark);  
}
div.CodeMirror span.cm-string-2 {
  color: var(--color-gray-text-code);  
}
div.CodeMirror span.cm-tag {
  color: var(--color-gray-text-code);
}

.note-detail-code-editor div.CodeMirror-selected,
.note-detail-code-editor div.CodeMirror-line::selection {
  background-color: var(--color-blue-light-alpha);
}

.CodeMirror-matchingbracket { 
  text-decoration: none; 
  color: var(--color-orange-dark) !important;
  border: 1px solid var(--color-gray);
}

.CodeMirror-linenumber {
  /*! font-size: 0.9rem; */
  color: var(--color-gray);
  font-family: var(--font-code) !important;
}

/* ----------------------------------------------------------------------------- */
/* HYPERLINKS
/* ----------------------------------------------------------------------------- */

a, a:visited, a:hover, 
.note-detail a, .note-detail a:hover,
.modal-dialog a, .modal-dialog a:hover, 
.note-paths-widget a, .note-paths-widget a:hover, 
.similar-notes-widget a, .similar-notes-widget a:hover,
.related-notes-container a, .related-notes-container a:hover,
div.tooltip a, 
li a, li a:visited, li a:hover
{
    color: var(--color-blue-dark);
    border-bottom: 1px solid var(--color-gray-dark);
    border-radius: 0 !important;
    text-decoration: none;
}

a:hover, 
.note-detail a:hover,
.modal-dialog a:hover, 
.note-paths-widget a:hover, 
.similar-notes-widget a:hover,
.related-notes-container a:hover {
    border-bottom: 1px solid var(--color-blue-light);
    border-radius: 0;
    color: var(--color-blue-light);
    text-decoration: none;
}

/* ----------- FORM ELEMENTS ----------- */
/* checkbox background*/
.ck-content .todo-list .todo-list__label > input[checked]::before {
  background: var(--color-blue-dark-alpha);
  border-radius: var(--border-radius-small);
}
div#content div.note-detail div.canvas-widget {
  display: grid;
}

div#content div.note-detail div.note-detail-readonly-text,
div#content div.note-detail div.note-detail-printable,
div#content div.note-detail  {
  margin: 0;
  padding: 0;
}

div#layout  {
  padding: 20px 25px 5px 25px;
  border-left: 5px solid var(--color-orange-dark);
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

:is(#childLinks, #menu) {
  padding: 0;
  background-color: var(--color-blue-light-text);
  border-top: var(--border-standard);
  box-shadow: var(--shadow-90deg-inset);
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#content  .ck.ck-content pre,
#content .CodeMirror pre code {
  color: var(--color-blue-dark) !important;
  padding: 1.5rem;
  margin: 1.0rem auto 2.5rem;
  background-color: var(--color-gray-light);
  border: 1px dotted var(--color-gray);
}

#content code {
  font-family: var(--main-font-family-mono);
}

div#content div#rest-pane div#content div.note-detail img {
  border: 1px solid var(--color-gray);
  padding: .5rem;
}

figcaption {
  font-style: italic;
}
